.container_1 {
  max-width: 576px;
  margin-top: 100px;
  margin-left: 450px;
  padding-top: 20px;
  width: 400px;
  height: 440px;
  box-shadow: 0 0 1px;
}
.text-center {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  color: #535353;
}
.form-floating {
  margin-top: 25px;
  margin-left: 30px;
}
.btn-secondary {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 30px;
  width: 336px;
  height: 50px;
}
.ssilka {
  text-decoration: none;
  color: #535353;
}
.ssilka:hover {
  text-decoration: none;
  color: #535353;
}
.text12 {
  margin-top: 60px;
  text-align: center;
}
